
$color-lime-green : #42b983;
$color-blue-grey : #2c3e50;


// News Blok colors
$color-dark-blue : rgb(1, 0, 80);
$color-light-blue : #74a1cd;

// Weater blok
$background-pink-purple: linear-gradient(#e66465, #9198e5);
$color-light-blue : #74a1cd;