@mixin basic-reset {
    list-style: none;
    background: none;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  @mixin limit-lines($amount) {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $amount;
    -webkit-box-orient: vertical;
}